Repository dva/limb: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-standard, prettier --write

upgrading tslint-react-hooks
  package.json
  yarn.lock
Due: none

adding json to prettier
  .lintstagedrc
Due: none

dependencies
  package.json
  yarn.lock
Due: none

init config
  jest.config.js
Due: prettier-standard

init test
  src/App.test.tsx
Due: prettier --write

fixing config webpack alias
  jest.config.js
Due: prettier-standard

jest types for ts
  tsconfig.json
Due: none

removing VSCode auto code fixer
  .vscode/settings.json
Due: none

mock files
  src/__mocks__/fileMock.js
  src/__mocks__/styleMock.js
Due: prettier-standard

improving config
  jest.config.js
Due: prettier-standard

fixed alias
  jest.config.js
  src/App.tsx
  src/component/Hooks/Hooks.tsx
  tsconfig.json
  webpack.common.js
Due: prettier-standard, prettier --write

fixed alias
  enzyme.config.js
  jest.config.js
Due: prettier-standard

enzyme dependencies
  package.json
  yarn.lock
Due: none

lint fix
  tslint.json
Due: none

basic snapshot test
  src/component/About/About.spec.tsx
  src/component/About/__snapshots__/About.spec.tsx.snap
Due: prettier --write

fixed enzyme wrapper to a format compatible with Jest snapshot
  jest.config.js
  package.json
  src/component/About/__snapshots__/About.spec.tsx.snap
  yarn.lock
Due: prettier-standard

extending script with test step
  package.json
Due: none

Test (#10)
  .lintstagedrc
  .vscode/settings.json
  enzyme.config.js
  jest.config.js
  package.json
  src/App.test.tsx
  src/App.tsx
  src/__mocks__/fileMock.js
  src/__mocks__/styleMock.js
  src/component/About/About.spec.tsx
  src/component/About/__snapshots__/About.spec.tsx.snap
  src/component/Hooks/Hooks.tsx
  tsconfig.json
  tslint.json
  webpack.common.js
  yarn.lock
Due: prettier-standard, prettier --write

dependencies update with TS including performance issue http://bit.ly/2K3lMDl
  package.json
  yarn.lock
Due: none

moving back to old typescript
  package.json
  src/utils/index.ts
  src/utils/log.ts
  yarn.lock
Due: prettier --write

show progress on build
  package.json
Due: none

correct import in webpack without extension
  webpack.dev.js
  webpack.prod.js
Due: prettier-standard

use ts if file not a component
  src/Route/index.ts
  src/component/About/index.ts
  src/component/Home/index.ts
  src/component/Home/style.ts
  src/component/Hooks/index.ts
Due: prettier --write

Optimization (#11)
  package.json
  src/Route/index.ts
  src/component/About/index.ts
  src/component/Home/index.ts
  src/component/Home/style.ts
  src/component/Hooks/index.ts
  src/utils/index.ts
  src/utils/log.ts
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Due: prettier-standard, prettier --write

adding progress to webpack build
  package.json
Due: none

moving to TS 3.4
  package.json
  yarn.lock
Due: none

core updates: new clean-webpack-plugin
  package.json
  webpack.prod.js
  yarn.lock
Due: prettier-standard

core update: TypeScript 3.5
  package.json
  yarn.lock
Due: none

tslint: no-unused-variable deprecated
  tslint.json
Due: none

Path conditions:
  prettier-standard: any of: *.js
  prettier --write: any of: *.{tsx,ts}
