Repository dva/limb: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-standard, prettier --write

initial icons
  public/favicon.ico
  public/icon.png
Due: none

manifest
  public/manifest.json
Due: prettier --write

manifest and icons integration
  src/index.html
Due: none

adding workbox as initial for SW
  package.json
  webpack.common.js
  yarn.lock
Due: prettier-standard, prettier --write

example SW integration
  src/index.tsx
Due: prettier --write

polishing to manifest
  public/site.webmanifest
  src/index.html
Due: none

moved SW file to its own
  src/index.tsx
  src/serviceWorker.ts
Due: prettier --write

adding missed types for workbox
  package.json
  yarn.lock
Due: prettier --write

core updates: ts 3.7 & babel 7.7
  package.json
  yarn.lock
Due: prettier --write

moved to a new @babel/preset-module
  .babelrc
  package.json
  size-plugin.json
  yarn.lock
Due: prettier --write

- Allow declare in class fields - Use object spread in compiled JSX
  .babelrc
Due: none

@babel/plugin-proposal-optional-chaining and @babel/plugin-proposal-nullish-coalescing-operator
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

core updates: react 16.12
  package.json
  yarn.lock
Due: prettier --write

unused file
  manifest.json
Due: prettier --write

fix: alias error
  package.json
  webpack.common.js
Due: prettier-standard, prettier --write

dependencies
  .pnp.js
  .yarn/build-state.yml
  yarn.lock
Due: prettier-standard

Webpack PnP plugin
  .pnp.js
  package.json
  webpack.common.js
  yarn.lock
Due: prettier-standard, prettier --write

VSCode Editor SDK
  .pnp.js
  .vscode/pnpify/prettier/index.js
  .vscode/pnpify/prettier/package.json
  .vscode/pnpify/typescript/bin/tsc
  .vscode/pnpify/typescript/bin/tsserver
  .vscode/pnpify/typescript/lib/tsc.js
  .vscode/pnpify/typescript/lib/tsserver.js
  .vscode/pnpify/typescript/package.json
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier-standard, prettier --write

missed react-is required by styled-components
  .pnp.js
  package.json
  yarn.lock
Due: prettier-standard, prettier --write

properly ignoring yarn 2 files https://github.com/yarnpkg/berry/issues/454
  .gitignore
  .pnp.js
  .yarn/build-state.yml
Due: prettier-standard

generated eslint config
  .eslintrc.generated.js
Due: prettier-standard

dependencies
  package.json
  yarn.lock
Due: prettier --write

initial config
  .eslintrc.js
Due: prettier-standard

eslint ignore
  .eslintignore
Due: none

extension
  .vscode/extensions.json
Due: prettier --write

test lint script
  package.json
Due: prettier --write

prettier config
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier-standard, prettier --write

jest plugin
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier-standard, prettier --write

react rules
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier-standard, prettier --write

Additional ESLint rules for ESLint directive comments
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier-standard, prettier --write

Path conditions:
  prettier-standard: any of: *.js
  prettier --write: any of: *.{json,tsx,ts}
