Repository dva/limb: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-standard, prettier --write

.lintstagedrc:

{
  "*.js": ["prettier-standard", "git add"],
  "*.{json,tsx,ts}": ["prettier --write", "git add"]
}

Linting with Type Information
  .eslintrc.js
Due: prettier-standard

example of rule
  .eslintrc.js
Due: prettier-standard

fix: interface
  .eslintrc.js
Due: prettier-standard

fix: unneeded prop-types rule
  .eslintrc.js
Due: prettier-standard

fix: export should always has names
  src/Route/Route.tsx
  src/common/Header.tsx
  src/component/About/About.tsx
Due: prettier --write

fix: warning on react version detect
  .eslintrc.js
Due: prettier-standard

fix: stylelint
  package.json
  src/component/About/About.tsx
Due: prettier --write

fix: VSCode validation errors on ts files
  .vscode/settings.json
Due: prettier --write

feat: Prompt users to switch to the workspace version of TypeScript
  .vscode/settings.json
Due: prettier --write

fix: exclude dist from VSCode search
  .vscode/settings.json
Due: prettier --write

feat: yarn as package manager used to run scripts
  .vscode/settings.json
Due: prettier --write

feat: eslint-plugin-react-hooks upgrade
  package.json
  yarn.lock
Due: prettier --write

fix: updated temporary generated eslint js & vscode config
  .eslintrc.generated.js
  .vscode/settings.json
Due: prettier-standard, prettier --write

up
  package.json
  yarn.lock
Due: prettier --write
