Repository dva/limb: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-standard, prettier --write

.lintstagedrc:

{
  "*.js": ["prettier-standard", "git add"],
  "*.{json,tsx,ts}": ["prettier --write", "git add"]
}

tslint: no-unused-variable deprecated
  tslint.json
Due: prettier --write

core updates: major dependencies
  package.json
  yarn.lock
Due: prettier --write

Enforces module path case sensitivity in Webpack
  package.json
  webpack.common.js
  yarn.lock
Due: prettier-standard, prettier --write

core updates: dependencies due to security vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

adding webpackbar dependency
  package.json
  yarn.lock
Due: prettier --write

adding bar to build and serve
  webpack.common.js
Due: prettier-standard

removing progress details from webpack scripts
  package.json
Due: prettier --write

removing redundant dev statistics
  webpack.dev.js
Due: prettier-standard

Wds bar (#12)
  package.json
  webpack.common.js
  webpack.dev.js
  yarn.lock
Due: prettier-standard, prettier --write

latest babel
  package.json
  yarn.lock
Due: prettier --write

HMR Hooks support
  package.json
  webpack.common.js
  yarn.lock
Due: prettier-standard, prettier --write

removing not supported @babel/proposal-pipeline-operator by typescript
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

runtime should be in its own chunk
  webpack.prod.js
Due: prettier-standard

react 16.9
  package.json
  size-plugin.json
  yarn.lock
Due: prettier --write

enable TS check for JS files
  enzyme.config.js
  jest.config.js
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier-standard

exclude not related folders form VSCode search
  .vscode/settings.json
Due: prettier --write

preload initial build files in parallel
  package.json
  webpack.common.js
  yarn.lock
Due: prettier-standard, prettier --write

core updates: babel & other
  package.json
  yarn.lock
Due: prettier --write

core updates: react & other
  package.json
  yarn.lock
Due: prettier --write

core updates: react & others
  package.json
  size-plugin.json
  yarn.lock
Due: prettier --write

core updates: react & others
  manifest.json
  package.json
  size-plugin.json
  yarn.lock
Due: prettier --write

copy webpack plugin
  package.json
  webpack.common.js
  yarn.lock
Due: prettier-standard, prettier --write
